@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

:root {
  --palette-0: #000;
  --palette-1: #101010;
  --palette-2: #f1f1f1;
  --palette-3: #fafafa;
  --palette-4: #fff;
  --palette-5: #fbaf85;
  --palette-6: #D87D4A;

  --text-1: #7d7d7d;

  --color-1: #424242;
}

body {
  background-color: var(--palette-3);
  font-family: 'Manrope';
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  user-select: none;
}

.header {
  width: 100%;
  min-height: 100vh;
  height: 100dvh;
  background-color: var(--palette-1);
  color: var(--palette-4);
  font-weight: 500;
}

.inner-header {
  padding: 0 5%;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-img {
  --fade-amount: 15%;
  mask-image: linear-gradient(to right, transparent, blue var(--fade-amount), blue calc(100% - var(--fade-amount)), transparent);
  width: 700px;
  height: 700px;
  background-position: center;
  background-size: cover;
  background-image: url("./Pro1.png");
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  border-bottom: 1px solid var(--color-1);
}

.nav-title {
  font-weight: 800;
  font-size: 2.1rem;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  letter-spacing: 3px;
  font-weight: 500;
}

.section {
  cursor: pointer;
  transition: .3s;
}

.section:hover {
  color: var(--palette-6);
}

.header-wrapper {
  max-width: 50vw;
}

.wrapper-prdct {

  background: linear-gradient(45deg, #595959, #a5a5a5, #5e5e5e);
  color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 200%;
  font-weight: 400;
  letter-spacing: 5px;
  font-size: 1.2rem;
  display: inline-block;

  animation: gradientAnimation 2s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

.wrapper-title {
  font-size: 56px;
  font-weight: 700;
}

.header-description {
  font-size: 15px;
  color: #c4c4c4;
  line-height: 32px;
  max-width: 30vw;
}

.wrapper-button {
  padding: 15px 32px;
  background-color: var(--palette-6);
  display: inline-block;
  margin-top: 46px;
  font-size: 13px;
  letter-spacing: 1.5px;
  transition: .3s;
  cursor: pointer;
}

.body2 {
  padding: 0 8%;
  box-sizing: border-box;
}

.product-wrapper {
  height: 100%;
  position: relative;
  padding: 56px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 26px;
  margin-top: 32px;
}

.wrapper-button:hover {
  background-color: var(--palette-5);
}

.wrapper-tt {
  text-align: center;
  letter-spacing: 1.3px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 6px;
}

.shop {
  font-size: 13px;
  font-weight: 700;
  color: #797979;
  text-align: center;
  transition: .2s;
  cursor: pointer;
}

.shop:hover {
  color: var(--palette-6);
}

.arrow-right {
  color: var(--palette-6)
}

.img-product {
  width: 122px;
  height: 160px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wrapper-content:hover .img-product {
  transform: translateY(-12px) scale(1.2);
}

.wrapper-content:hover .shadow {
  filter: blur(9px);
  transform: scale(1.1);
  background-color: #7a7a7a9d;
}

.ProS1 {
  background-image: url('./ProS1.png');
}

.ProS2 {
  background-image: url('./ProS2.png');
}

.ProS3 {
  background-image: url('./ProS3.png');
}

.shadow {
  width: 125px;
  height: 36px;
  border-radius: 50%;
  background-color: #a0a0a093;
  filter: blur(12px);
  transition: .3s;
}

.wrapper-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

.background {
  position: absolute;
  background-color: var(--palette-2);
  width: 100%;
  height: 180px;
  bottom: 0;
  z-index: -2;
  border-radius: 8px;
}

.product-wrapper1 {
  background-color: var(--palette-6);
  height: 560px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  color: var(--palette-4);
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.wrapper1-container {
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding-right: 54px;
}

.container-tt {
  font-size: 56px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-block: 16px;
}

.container-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}

.container-btn {
  padding: 18px 28px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: var(--palette-0);
  display: inline-block;
  margin-block: 15px;
  cursor: pointer;
  transition: .3s;
}

.container-btn:hover {
  background-color: var(--color-1);
}

.container-btn:hover .wrapper1-img {
  transform: rotate(-5deg) scale(1.05) translateY(-12px);
}

.wrapper1-img {
  background-image: url('./Pro2.png');
  transition: 0.6s cubic-bezier(0.25, 1.5, 0.5, 1) forwards;
}

.product-wrapper2 {
  background-size: cover;
  background-position: center 90%;
  background-repeat: no-repeat;
  background-image: url(./Pro3.png);
  filter: grayscale(90%);
  padding: 100px;
  border-radius: 8px;
}

.wrapper2-btn {
  padding: 18px 28px;
  border: 2px solid var(--palette-0);
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 13px;
  cursor: pointer;
  transition: .3s;
  margin-top: 32px;
}

.wrapper2-btn:hover {
  color: #fff;
  background-color: #000;
}

.wrapper2-tt {
  font-size: 28px;
  color: var(--palette-0);
  font-weight: 700;
  letter-spacing: 2px;
}

.products-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 36px;
}

.circle {
  border: 2px solid #e0976e;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.c1 {
  width: 472px;
  height: 472px;
  left: 87px;
  bottom: -100px;
}

.wrapper1-container {
  z-index: 2;
}

.c2 {
  width: 542px;
  height: 542px;
  top: 150px;
  left: 52px;
}

.c3 {
  width: 944px;
  height: 944px;
  left: -149px;
  top: -36px;
}

.wrapper3-img {
  background-image: url(./Pro4.png);
  background-position: center;
  width: 50%;
  filter: grayscale(100%);
  border-radius: 8px;
}

.product-wrapper3 {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}

.wrapper3-container {
  padding: 125px;
  border-radius: 8px;
  background-color: var(--palette-2);
  font-size: 28px;
  font-weight: 700;
  width: 50%;
  box-sizing: border-box;
}

.container-blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  gap: 36px;
  height: 100dvh;
  min-height: 100vh;
}

.text-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-header {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-transform: capitalize;
  width: 60%;
}

.txt-description {
  color: var(--text-1);
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 65%;
}

.blog-img {
  width: 50%;
  height: 600px;
  background-image: url(Pro5.png);
  background-position: 0% 0%;
  background-size: 180%;
  border-radius: 8px;
  filter: grayscale() brightness(90%);
}

.orange {
  color: var(--palette-6);
}

footer {
  padding: 60px 165px;
  background-color: var(--palette-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.footer-navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: var(--palette-4);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  flex-direction: row;
}

.footer-nav {
  cursor: pointer;
  transition: .3s;
}

.footer-nav:hover {
  color: var(--palette-6);
}

.footer-container {
  display: flex;
  justify-self: space-between;
  gap: 36px;
  color: var(--text-1);
  font-weight: 500;
}

.left-footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 36px;
}

.footer-txt {
  width: 70%;
}

.right-footer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.icons svg {
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.hover-orange:hover path {
  color: var(--palette-6);
}

.icon {
  transition: .3s;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-img {
    position: absolute;
    filter: brightness(70%);
    width: clamp(300px, 50vw, 700px);
  }

  .header-wrapper {
    z-index: 2;
    text-align: center;
  }

  .nav {
    z-index: 3;
  }

  .inner-header {
    padding: 0;
  }

  .container-img {
    width: 100vw;
    min-height: 100vh;
    top: 50%;
    transform: translateY(-50%);
  }
}